/* VARIABLES */

:root{
  --main-text-color : #777;
  --main-text-white-color : #fff;
  --main-link-bg-color : #EA625C;
  --main-font-size : 15px;
  --main-font-weight : 400;
  --main-bolt-font-weight: 700;
  --main-line-height : 150%;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/regular.woff2") format("woff2"), 
       url("../fonts/regular.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/bolt.woff2") format("woff2"),
       url("../fonts/bolt.woff") format("woff");
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container{
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-header{
  padding-top: 30px;
}

.header-box{
  display: flex;
  align-items: center;
}

.site-logo{
  width: 35px;
  height: 42px;
}

.site-logo-link{
  margin-right: 502px;
}

.nav-list{
  display: flex;
}

.nav-link{
  margin-right: 30px;
  padding-bottom: 3px;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: #333333;
  border-bottom: 3px solid transparent;
}

.nav-link:hover{
  border-bottom-color: #333;
}

.last-nav-link{
  margin-right: 40px;
}

.header-input{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 0;
  width: 167px;
  border: none;
  border-bottom: 1px solid #333333;
  transform: rotate(0.16deg);
}

.header-input::placeholder{
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: #666666;
}


.site-main{
  flex-grow: 1;
}

/* hero section start */

.hero{
  padding-top: 170px;
  padding-bottom: 185px;
  background-image: url("../images/intro-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% + 504px) calc(50% + 80px);
  border-bottom: 2px solid #DDDDDD;
}

.hero-title{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--main-bolt-font-weight);
  font-size: 50px;
  line-height: 120%;
  color: #000000;
}

.hero-text-box{
  padding-left: 37px;
  width: 450px;
  border-left: 3px solid #888888;
}

.hero-text{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: var(--main-line-height);
  color: var(--main-text-color);
}

.main-link{
  display: inline-block;
  padding: 12px 39px;
  font-weight: var(--main-bolt-font-weight);
  font-size: 18px;
  line-height: var(--main-line-height);
  text-transform: uppercase;
  color: var(--main-text-white-color);
  background-color: var(--main-link-bg-color);
}

.main-link:hover{
  background-color: #C9514C;
}

/* features section begin */

.features{
  padding-top: 70px;
  padding-bottom: 70px;
}

.features-info-box{
  display: flex;
  justify-content: space-between;
}

.features-box{
  width: 280px;
}

.features-title{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--main-bolt-font-weight);
  font-size: 18px;
  line-height: var(--main-line-height);
  text-transform: uppercase;
  color: #222222;
}

.features-text{
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: 160%;
  color: #333333;
}

.features-rectangle-box{
  width: 44px;
  display: flex;
  justify-content: space-between;
}

.rectangle{
  width: 8px;
  height: 8px;
  background-color: #DDDDDD;
}

.learn-more-link-box{
  display: flex;
  align-items: center;
}

.learn-more-link-box:hover .learn-more-link::before{
  transition: all 0.5s ease;
  width: 60px;
}

.learn-more-link{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--main-link-bg-color);
}

.learn-more-link::before{
  margin-right: 10px;
  width: 40px;
  height: 1.5px;
  background-color: var(--main-link-bg-color);
  content: "";
}

/* sport section start */

.sport{
  padding-top: 70px;
  padding-bottom: 70px;
}

.sport-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sport-link{
  padding-right: 90px;
  padding-left: 90px;
}

/* control section start */

.control{
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("../images/runners.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.control-box{
  width: 490px;
  margin-left: auto;
}

.control-title{
  color: var(--main-text-white-color);
}

.control-text-box{
  border-color: var(--main-text-white-color);
}

.control-text{
  color: var(--main-text-white-color);
}

.control-link{
  margin-right: 46px;
  margin-left: 46px;
}

